APP_PORT=8080
APP_NAME='Blog API on FastAPI Framework'
TOKEN_URL=/api/login
ITEMS_LIMIT_PER_PAGE=20
POST_MIN_CHARACTERS=100
POST_MAX_PREVIEW_CHARACTERS=200

DB_SCHEME=postgresql
DB_USER=user
DB_PASSWORD='1234'
DB_DATABASE=blog

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
TOKEN_ENCRYPTING_ALGORITHM=HS256
